@tailwind base;
@tailwind components;
@tailwind utilities;

.allProducts{
    display: flex; 
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: antiquewhite

}
.allProducts-Container{
    text-align: center;
    background-color: antiquewhite;
    padding-top: 40px ;
    padding-bottom: 40px;

}


.bg-white{
    background-color: antiquewhite;
}
.seeDetailsBtn{
    background-color: rgb(47, 47, 47);
    color: #fff;
    padding: 8px 17px ;
     border-radius: 10px;
}
.cardImg{
    opacity: 0.6;
}
.cardImg:hover{
    opacity: 1;
}
.sticky-top{
    position: sticky;
    z-index: 999;
    top: 0px;
}


.logos-Section{
  background-color: #fff !important;
}


.lightbox {
    position: absolute;
    display: block;
    top: 10;
    bottom: 80;
    left: 5;
    right: 0;
    background: rgb(255, 255, 255);
    transition: 0.3s all;
    color: #000000;
    pointer-events: auto;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   gap: 10px;
  }
  
  .hide-lightbox {
    display: none;
  }
  .btn-form-hide{
    display: none;
  }
  .savebtn{
    background-color: rgb(101, 101, 242);
    color: #fff;
    font-size: 20px;
    padding: 4px 10px;
  }

  .heading{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  .footer-links:hover{
    color: #fff;
  }

  @media screen and (max-width: 576px) {
    .logohome{
      margin-left: -160px;
    }
  }